.all-components {
  font-family: "AvertaStd-Semibold", sans-serif;
}
.input:hover,
.h1:hover {
  background-color: #f3f3f3;
  border-radius: 8px;
}
.input {
  border: none;
  color: #b6b6b6;
  &:focus {
    color: black;
    caret-color: transparent;
  }
}
.input:focus {
  outline: none;
}
